/* 
my blue: 32,55,104
my orange: 249,180,21
*/

.highlight {
    padding: 0 5px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    margin: 0 2px;
    font-size: calc(100% + 30%);
}

.my-blue {
    background: rgb(32,55,104);
}

.my-orange {
    background: rgb(249,180,21)
}

/*Presentational styles*/
* {
    font-family: 'Libre Baskerville', serif;
    transition: all .5s ease-in-out;
}

.opening-title {
    font-size: 5.5rem;
    text-align: center;
    margin: 60px 0;
}

.steps {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.87);
    left: 0;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.steps > ul {
    margin: 0;
    padding: 0;
}

.steps > ul > li {
    display: none;
}

.steps > ul > li.active {
    display: block;
}

.steps > ul > li > .btn {
    margin: none;
    font-size: 1.8rem;
}

.pre-animation {
    opacity:0;
}

.container {
    padding-bottom: 90px;
}